# TD : SQL - Auto-Jointure

### Exercice 1)

On se donne la table "employe" dont un apperçu est disponible ci-dessous :

| id | nom | prenom | salaire | superieur |
| --- | --- | --- | --- | --- |
| E001 | MARIN | Marie | 5 042 | E001 |
| E002 | RENIN | Étienne | 3 755 | E001 |
| E003 | DUCHENE | Guillaume | 2 780 | E002 |
| E004 | MADOVIE | Guy | 2 930 | E002 |
| E005 | PALTRUC | Lucie | 2 880 | E002 |
| ... | ... | ... | ... | ... |


1.a) Écrire une requête donnant pour chaque employé : son nom, son prénom, le nom de son supérieur et le prénom de son supérieur.


Résultat attendu : 

| nom_employe | prenom_employe | nom_superieur | prenom_superieur |
| --- | --- | --- | --- | 
| MARIN | Marie |  MARIN | Marie |
| RENIN | Étienne |MARIN | Marie |
| ... | ... |  ... | ... |

In [ ]:
# Exercice 1.a)

1.b) Écrire une requête permettant d'obtenir tous les employés dont supérieur gagne entre 2 000 et 2 500 euros de salaire.

In [ ]:
# Exercice 1.b)

----------------------------------

### Exercice 2 (bonus)

Revenir sur la BDD du cours pour écrire une requête permettant d'avoir les films diffusés dans une même salle à un même créneau. *Afficher le titre des films*.

[lien vers la BDD](https://notebook.basthon.fr/?kernel=sql&from=https://raw.githubusercontent.com/lafitteque/lafitteque.github.io/refs/heads/main/public/Bashton/SQL/AutoJointure//presentation_autojointure_v2.ipynb&module=https://raw.githubusercontent.com/lafitteque/lafitteque.github.io/refs/heads/main/public/Bashton/SQL/AutoJointure//festival_cinema_v2.sql)