# TD : SQL - Auto-Jointure

Les organisateurs d'un festival de cinéma répertorient les films diffusés, leurs réalisateurs, les salles dans lesquelles ils sont diffusés ainsi que la programmation horaire.

Le festival dure deux jours avec quatre créneaux chaque jour notés 1; 2; 3; 4 pour le premier jour et 11; 12; 13; 14 pour le second jour.

On donne ci-dessous le schéma de la base de donnée utilisée

AJOUTER SCHEMA

## La clause JOIN - La jointure

La clause JOIN (abréviation de INNER JOIN) permet de faire réunir les informations à propos de deux tables. On peut par exemple réunir les informations d'un film et du réalisateur qui a fait le film.

Pour cela, on se propose de suivre la méthode suivante à faire sur un brouillon:

1) On place la notation des tables dont on veut réunir des informations : 

    **FILM** <span style='font-size: 24px'>(</span> <ins>id</ins>, titre, id_realisateur, remake_de, annee_sortie, note <span style='font-size: 24px'>)</span>

    **REALISATEUR** <span style='font-size: 24px'>(</span> <ins>id</ins>, nom, prenom, annee_naissance <span style='font-size: 24px'>)</span>

2) On écrit en toutes lettres la condition à laquelle on les lignes des deux tables coïncident :

    On réunit la ligne d'un film et d'un réalisateur si le réalisateur est celui qui a fait le film en question.

3) On met en évidence cette condition sur nos notations :

    **FILM** <span style='font-size: 24px'>(</span> <ins>id</ins>, titre, <span style='background : blue'>id_realisateur</span>, remake_de, annee_sortie, note <span style='font-size: 24px'>)</span>

    **REALISATEUR** <span style='font-size: 24px'>(</span> <span style='background : blue'><ins>id</ins></span>, nom, prenom, annee_naissance <span style='font-size: 24px'>)</span>

4) On écrit la requête en suivant la structure suivante :

        SELECT * FROM 
            table1 JOIN table2
            ON ... condition ...

Ici, cela donne :

In [ ]:
SELECT * FROM 
    film JOIN realisateur
    ON film.id_realisateur = realisateur.id

Le résultat d'une requête SQL est un tableau sur lequel on peut effectuer les opérations usuelles.

In [ ]:
SELECT * FROM 
    film JOIN realisateur
    ON film.id_realisateur = realisateur.id
WHERE note >= 4.7

## 2) Auto-Jointure

**Problématique** : La programmation a été faite et doit être vérifiée. Il ne faut pas que deux films soient prévus dans la même salle sur le même créneau. Vérifions s'il y a des erreurs et où grâce à des requêtes SQL.

L'auto-jointure consiste à effectuer une jointure entre une table et elle-même.

In [ ]:
SELECT  p1.id_salle, p1.creneau , p1.id_film, p2.id_film FROM 
    programmation as p1 JOIN programmation as p2
    ON p1.id_salle = p2.id_salle AND p1.creneau = p2.creneau AND p1.id_film <> p2.id_film

On peut cumuler l'auto-jointure avec des jointures externes pour remplacer les id des films (peu lisibles) par leurs titres.

In [ ]:
SELECT film1.titre as film_A , film2.titre as film_B, p1.id_salle, p1.creneau FROM 
    programmation as p1 JOIN programmation as p2
    ON p1.id_salle = p2.id_salle AND p1.creneau = p2.creneau AND p1.id_film <> p2.id_film

    JOIN film as film1
    ON p1.id_film = film1.id

    JOIN film as film2
    ON p2.id_film = film2.id

Dans la table obtenue, on a deux fois une ligne contenant Hanoy towers et Living pool. Pour éviter cela, on peut imposer que l'id du film A soit plus petit que celui du film B. (ce qui évite d'avoir les combinaisons id_A,id_B ET id_B,id_A)

In [ ]:
SELECT film1.titre as film_A , film2.titre as film_B, p1.id_salle, p1.creneau FROM 
    programmation as p1 JOIN programmation as p2
    ON p1.id_salle = p2.id_salle AND p1.creneau = p2.creneau AND p1.id_film <> p2.id_film

    JOIN film as film1
    ON p1.id_film = film1.id

    JOIN film as film2
    ON p2.id_film = film2.id

WHERE p1.id_film < p2.id_film

---------------------------------------------------------------

Autre moyen de remarquer qu'il y a des erreurs (sans savoir où) à l'aide de GROUP BY (vu plus tard) :

In [ ]:
SELECT creneau, id_salle, COUNT(*) FROM programmation
GROUP BY creneau, id_salle
HAVING COUNT(*) > 1