# TD : SQL - Auto-Jointure

## Rappels

Commande WHERE

In [ ]:
SELECT * FROM film
WHERE annee_sortie >= 2015

Selection des colonnes et de l'ordre d'affichage

In [ ]:
SELECT titre, annee_sortie FROM film
WHERE annee_sortie >= 2015
ORDER BY annee_sortie ASC

Conditions : on dispose des conditions "AND", "OR" et "NOT" mais également de "LIKE" qui permet de rechercher des chaînes de caractères à une ou plusieurs lettres près :
- On utilise "%for%" pour rechercher une chaîne contenant le mot "for".
- On utilise "\_he thingy" pour rechercher une chaîne coïncidant au "\_" près à la chaîne donnée

In [ ]:
SELECT titre FROM film
WHERE titre LIKE "The%" AND note >= 3.0

Commande INNER JOIN

In [ ]:
SELECT * FROM film
INNER JOIN realisateur
ON film.id_realisateur = realisateur.id_realisateur

Le résultat d'une requête SQL est une table sur laquelle on peut effectuer les opérations usuelles.

In [ ]:
SELECT * FROM film
INNER JOIN realisateur
ON film.id_realisateur = realisateur.id_realisateur
WHERE nom LIKE "_o%e" OR note >= 4.7

## 2) Auto-Jointure

L'auto-jointure consiste à effectuer une jointure entre une table et elle-même.

Contexte : un festival de cinéma est organisé sur un week-end. La première version de la programmation est contenue dans la table "programmation". Vérifions s'il y a une erreur dans la programmation à l'aide d'une auto-jointure.

In [ ]:
SELECT p1.id_film as `id_film_A` , p2.id_film as `id_film_B`, p1.id_salle, p1.creneau 
FROM `programmation` as p1
INNER JOIN `programmation` as p2
ON p1.id_salle = p2.id_salle AND p1.creneau = p2.creneau AND p1.id_programmation <> p2.id_programmation

In [ ]:
SELECT p1.id_film as `id_film_A` , p2.id_film as `id_film_B`, p1.id_salle, p1.creneau 
FROM `programmation` as p1
INNER JOIN `programmation` as p2
ON p1.id_salle = p2.id_salle AND p1.creneau = p2.creneau AND p1.id_programmation <> p2.id_programmation
WHERE id_film_A < id_film_B