# TD : SQL - SELECT, FROM et WHERE

#### Présentation de la base de données

Le thème d'étude est la gestion des patients dans un hopital. On a les tables suivantes :

- **patient**(<ins>patient\_id</ins>, nom, prenom, naissance)

## Rappels

**Clauses SELECT et FROM**

Les clauses **SELECT** et **FROM** vont **toujours** ensemble. Toutes les requêtes SQL les utilisent.

La commande **SELECT** colonne_1, colonne_2, ... **FROM** ... permet de lire les colonnes d'une table. Si l'on écrit **SELECT** * **FROM** ... alors toutes les colonnes sont prises.

In [ ]:
-- Exemple 1 : SELECT et FROM 
SELECT * FROM patient

In [ ]:
-- Exemple 2 : SELECT et FROM 
SELECT nom, naissance FROM patient

**Commande WHERE**

On peut vouloir ne garder que certaines lignes, respectant des conditions particulières. Dans ce cas, on finit notre requête par le mot clé **WHERE** suivi de la condition à vérifier.

In [ ]:
-- Exemple 3 : WHERE
SELECT nom, prenom, naissance FROM patient
WHERE nom = 'Pichard'

**Comparaisons de valeurs textuelles ou numériques** :

| SQL | Mathématiques | Français | Valable pour|
|---|---|---|---|
|=| $=$ | Égal | Nombre / Texte |
|<>| $\neq$ | Différent de | Nombre / Texte |
|>| $>$ | Strictement supérieur| Nombre |
|<| $<$ | Strictement inférieur | Nombre |
|>=| $\geqslant$ | Supérieur ou égal | Nombre |
|<=| $\leqslant$ | Inférieur ou égal | Nombre |

In [ ]:
-- Exemple 4 : WHERE
SELECT nom, prenom, naissance FROM patient
WHERE nom <> 'Pichard'

**Clause WHERE et opérateurs logiques** :

On peut combiner des conditions avec les mots-clé suivants :

|SQL|Français| Exemple d'utilisation (français) |  Exemple d'utilisation (SQL) | 
|---|---|---|---|
| OR | OU | l'attribut vaut 2 ou bien plus que 5 |attribut = 2 OR attribut > 5|
| AND | ET | l'attribut ne vaut ni 6 ni 10 | attribut <> 6 AND attribut <> 10|
| NOT | NON |  l'attribut ne vaut pas 2 | NOT attribut = 2 |

In [ ]:
-- Exemple 5 : Opérateurs logiques
SELECT nom, prenom, naissance FROM patient
WHERE nom <> 'Pichard' AND prenom <> 'Marie'

**Opérateur LIKE** :

L'opérateur **LIKE** permet de vérifier si une chaine de caractères commence par, finit par ou contient certains caratères.

Par exemple, cherchons les patients dont le nom de famille contient la particule 'De' ou 'Le'.

In [ ]:
-- Exemple 6 :
SELECT * FROM patient
WHERE nom LIKE $Le %$ OR nom LIKE $De %$